<ion-view title="Home">
  <ion-content>
    <div class="list">


      <div class="item  item-thumbnail">
        <img src="img/deal-express.png">
      </div>


      <div class="list card">
        <div class="item-divider">
          <div class="row">
              Make a Deal in 3 easy steps
          </div>
        </div>

        <span class="item item-icon-left">
          <i class="icon ion-android-pin"></i>
          Select your nearest store
        </span>
        <span class="item item-icon-left">
          <i class="icon ion-android-car"></i>
          Choose your vehicle
        </span>
        <span class="item item-icon-left">
          <i class="icon ion-social-usd"></i>
          Get Quote!
        </span>
        <span class="item text-center">
          <a class="button button-block icon-right ion-chevron-right button-balanced" ui-sref="app.vehicles">Let's
            Go!</a>
        </span>

      </div>


    </div>

    <ion-footer-bar>
      <div class="text-center col">
        <img src="img/cdk-global-mini.png" height="10px" width="100px">
      </div>

    </ion-footer-bar>
  </ion-content>
</ion-view>
